body{
	background-color: white;
}

#lista-index {
    overflow: scroll;
    max-height: 150px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.icono{
	width: 20px;
}

#icono-footer{
	width: 50px;
}

.error{
	color: red;
}