<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>index</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/estilos.css">
	<script src="js/app.js"></script>
	<style>
		 .ng-invalid {
    	 border-color: red;
     }
		 .ng-pristine{
		 	 border-color: grey;
		 }
	</style>
</head>
<body ng-controller="UserController">
<!--header-->
	<ng-include src="'data/cabecera_user.html'"></ng-include>
<!--///header-->
<!--formuario-->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-2"></div>
			<div class="col-md-4 col-8">
			 <form name="miFormulario" ng-submit="registrar()" novalidate>
	      <div class="form-group">
	      	<label>Nombre de usuario</label>
	      	<input type="text" name="nombre" ng-model="user.nombre" required class="form-control" id="user" ng-pattern = "patron.nombre">
	      </div>
	      <div>
	      <div class="form-group">
	        <label>Contraseña</label>
	        <input type="password" name="pwd" ng-model="user.psw" required class="form-control" id="psw" ng-pattern = "patron.psw" ng-focus="compare()"/>
	      </div>
	      <div class="form-group">
	        <label>Confirmar contraseña</label>
	        <input type="password" name="confirmPassword" ng-model="user.psw2" required class="form-control" id="psw2" ng-pattern = "patron.psw2" ng-focus="compare()"/>
	      </div class="form-group">
	      	<label>E-mail</label>
	      	<input type="email" name="correo" ng-model="user.correo" required class="form-control" id="email">
	      </div>
	      <div class="d-flex justify-content-center mt-4">
	      	<input class="btn btn-outline-success" type="submit" value="Registrar">
	      </div>
	    </form>
	    </div>
		</div>
	</div>
<!--///formulario-->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>